<div class="post">
  <div class="header">
    <h1>Заголовок Поста</h1>
    <button class="btn btn-link" routerLink="/">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>11.08.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dignissimos, dolore exercitationem iste magni
       nesciunt, porro quos reiciendis repellat reprehenderit sequi totam voluptatibus voluptatum! Aliquam ea excepturi
       fugit possimus? Debitis eligendi eos est in, magni minus neque! At cupiditate facilis ipsam praesentium quia
       quibusdam repudiandae unde. Porro quas sapiente velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dignissimos, dolore exercitationem iste magni
       nesciunt, porro quos reiciendis repellat reprehenderit sequi totam voluptatibus voluptatum! Aliquam ea excepturi
       fugit possimus? Debitis eligendi eos est in, magni minus neque! At cupiditate facilis ipsam praesentium quia
       quibusdam repudiandae unde. Porro quas sapiente velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dignissimos, dolore exercitationem iste magni
       nesciunt, porro quos reiciendis repellat reprehenderit sequi totam voluptatibus voluptatum! Aliquam ea excepturi
       fugit possimus? Debitis eligendi eos est in, magni minus neque! At cupiditate facilis ipsam praesentium quia
       quibusdam repudiandae unde. Porro quas sapiente velit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, dignissimos, dolore exercitationem iste magni
       nesciunt, porro quos reiciendis repellat reprehenderit sequi totam voluptatibus voluptatum! Aliquam ea excepturi
       fugit possimus? Debitis eligendi eos est in, magni minus neque! At cupiditate facilis ipsam praesentium quia
       quibusdam repudiandae unde. Porro quas sapiente velit.</p>
  </div>
</div>
