<form (ngSubmit)="submit()" [formGroup]="form" class="card">
  <h2>Войти в панель администратора</h2>

  <div
      *ngIf="message"
      class="alert alert-info"
  >
    {{message}}
  </div>

  <div
      *ngIf="auth.error$ | async as error"
      class="alert alert-danger"
  >
    {{error}}
  </div>

  <div
      [ngClass]="{invalid: form.get('email').touched && form.get('email').invalid}"
      class="form-control"
  >
    <label for="email">Email:</label>
    <input formControlName="email" id="email" type="email">
    <div
        *ngIf="form.get('email').touched && form.get('email').invalid"
        class="validation"
    >
      <small
          *ngIf="form.get('email').errors.required"
      >Введите email!</small>
      <small
          *ngIf="form.get('email').errors.email"
      >Email должен быть корректным!</small>
    </div>
  </div>

  <div
      [ngClass]="{invalid: form.get('password').touched && form.get('password').invalid}"
      class="form-control"
  >
    <label for="password">Пароль:</label>
    <input formControlName="password" id="password" type="password">
    <div
        *ngIf="form.get('password').touched && form.get('password').invalid"
        class="validation"
    >
      <small
          *ngIf="form.get('password').errors.required"
      >Введите пароль!</small>
      <small
          *ngIf="form.get('password').errors.minlength"
      >Пароль должен быть не менее
        {{form.get('password').errors.minlength.requiredLength}}
       символов! (Сейчас
        {{form.get('password').errors.minlength.actualLength}}
       )</small>
    </div>
  </div>

  <button [disabled]="form.invalid || submitting" class="btn btn-primary" type="submit">Войти</button>
</form>
